.task-column {
  min-height: 300px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.tituloDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 0px !important;
}

.task-card {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-card.design {
  background-color: #d1e7dd;
}

.task-card.frontend {
  background-color: #cff4fc;
}

.task-card.backend {
  background-color: #f8d7da;
}

.task-card.none {
  background-color: #e2e3e5;
}

#pomodoro-timer {
  text-align: center;
}

#timer-display {
  font-size: 48px;
}

.dragging {
  opacity: 0.5;
}
