* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #63f4f7;
}

div.tituloDiv {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.bodyDiv {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

div.columna1,
div.columna2,
div.columna3 {
  height: 550px;
  width: calc(100% / 5);
  border: solid 2px black;
}

div.tituloColumna {
  height: 15%;
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #456e87;
  color: white;
}

hr.separacion {
  background-color: black;
  margin: 0px;
}

div.cuerpoColumna {
  background-color: #fafaf8;
  height: 85%;
  width: 100%;
}

div.columna4 {
  height: 550px;
  width: calc(100% / 5);
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.boxContador {
  height: auto;
  width: 100%;
  padding: 5px;
}

div.timer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.tiempo {
  font-size: 50px;
  margin: 10px;
}

div.accionesTimer,
div.pausas,
div.nuevaTarea {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button.playPause,
button.reiniciar,
button.estudiar,
button.llarga,
button.curta {
  height: 40px;
  width: 100px;
  margin: 10px;
}

button.newTask {
  height: 40px;
  width: 100%;
  margin: 10px;
}
